/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #EBEBEB;
}

.byline {
  margin-bottom: 1em;
}

a.navbar-brand {
    height: 60px;
}

.navbar-inverse {
    background-color: #868686;
}

.jumbotron {
    background-color: #DDDDDD;
}
